script#templatePrimers(type='text/x-handlebars-template')
    .row
        .six.columns
            h2 Generate Primers
            span
            //
                | Choose available RFC

    //- Buttons to select RFC
    .row
        .six.columns.text-left
            .btn.rfc#RFC10
                a(href='#') 10
            .btn.rfc.disabled#RFC12
                a(href='#') 12
            .btn.rfc.disabled#RFC21
                a(href='#') 21
            .btn.rfc.disabled#RFC23
                a(href='#') 23
            .btn.rfc.disabled#RFC25
                a(href='#') 25

        .six.columns.text-right
            a(href='#displayPrimers', onclick="Bricklayer.primeItUp()")
                | Click here to generate primer

    //- Info on selected part
    .row(style='border: 1px solid #000000; padding: 10px')
        h3#brick-name Brick Info
        br
        p#brick-description Brick Description

    .row
        | Choose bricks for construct

    .row
        //- List of parts in brickbin
        .four.columns.text-center
            h3 Brick Bin
            form#brickBin
                select(size='7')
                    {{#each bricks}}
                    option(onclick="Bricklayer.showInfo('{{name}}')") {{name}}
                    {{/each}}

        //- Buttons to add, remove and rearrange parts in construct
        .four.columns.text-center
            .row
                h1 // Just empty space
            .row
                ul.tiles.two_up
                    li.btn.medium.default
                        input(type='button', value='Move Up', onclick="Bricklayer.moveUp()")
                    li.btn.medium.default
                        input(type='button', value='Move Down', onclick="Bricklayer.moveDown()")
                    li.btn.medium.default
                        input(type='button', value='Add', onclick="Bricklayer.addConstruct()")
                    li.btn.medium.default
                        input(type='button', value='Delete', onclick="Bricklayer.deleteConstruct()")
                li.btn.medium.default
                    input(type='button', value='Delete Construct', onclick="Bricklayer.deleteAll()")

        //- List of parts to be built in construct
        .four.columns.text-center
            h3 Construct Bin
            form#constructBin
                select(size='7')
    //
        //- Settings for RFC10 (for now...)
        .row
            h3 RFC Settings
            form
                input(type='radio', name='coding option', value='Non Coding', onclick="Bricklayer.rfcTen('nonCoding')")
                | Non Coding
                br
                input(type='radio', name='coding option', value='Coding', onclick="Bricklayer.rfcTen('coding')")
                | Coding
            br


    //- Display primers
    .row#displayPrimers(style='border-top: 1px solid #000000')
        h3 Primers
        br